<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>demo_ajax</title>


</head>

<script src="/static/js/1.js"></script>
 </head>   
<body>

<p style="text-align:center">
  <select id="os"  style="width:180px;" size="10">
     <option value="">请选择操作系统</option>
     <option value="Windows">Windows</option>
     <option value="Linux">Linux</option>
  </select>




<br>
<br>

<textarea rows="10" cols="20" id="input">请输入IP地址 </textarea>


<br>
<br>
<button type="button" value="输入" onclick="record()" >确认</button>

<div id="result"></div> 
</body>



</html>
